@import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap');

* {
  box-sizing: border-box;
}

body, html {
  margin: 0;
  padding: 0;
  position: relative;
}

body {
  min-height: 100vh;
  position: relative;
  overflow-x: hidden;
  height: 100vh;
  display: flex;
  margin-left: 15%;
  align-items: center;

  background-color: #0079d8;

  font-family: 'Segoe UI', monospace;
  color: #FFF;
}

h1 {
  font-size: 9rem;
  font-weight: 400;
  margin: 0
}




h3 {
  font-size: 1.1rem;
  margin: 0;
}

p {
  font-size: 2rem;
}


.qr {
  background-color: #FFF;
  width: 130px;
  height: 130px;
  display: grid;
  place-items: center;
}
